%h1 {{ post.title }}
%p.lead
  by
  %a{href: "#/users/{{ post.user_id }}"} {{ post.user_name }}
%hr/
%p
  %span.glyphicon.glyphicon-time
  Posted on {{ post.screen_created_at }}

%p.lead {{ post.preview }}
%p {{ post.full_text }}
/ the comment box
.well
  %h4 Leave a Comment:
  %form{role: "form"}
    .form-group
      %textarea.form-control{rows: "3",'ng-model'=>'comment_text'}
    %button.btn.btn-primary{type: "submit",'ng-click'=>'create_comment()'} Submit
%hr/
/ the comments
%div{ng: {repeat: 'comment in comments' }}
  %h3
    {{ comment.user_name }}
    %small {{ comment.screen_created_at }}

  %p {{ comment.text }}
  %a.btn.btn-primary{ ng:{cloak:'', show: 'comment.acl.allow_destroy', click: 'delete_comment(comment,$index)' } }
    Delete
    %span.glyphicon.glyphicon-trash
